{%extends 'base.html'%}
{%block body_block%}

<div class="col-md-10 col-lg-8 col-xl-7">
    <!-- Post preview-->
{%for q in questions%}
<div class="col-md-10 col-lg-8 col-xl-7">
    <!-- Post preview-->
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">{{q.question}}</h2>
            <h3 class="post-subtitle"></h3>
        </a>
        <p style="font-size: medium;" class="post-meta">
            Posted by
            <a href="#!">{{q.user}}</a>
            on {{q.created_date}}
        </p>
        <div>
            <p>
                <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#answerlist{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">
                    ANSWERS
                  </button>
              </p>
              <div class="collapse" id="answerlist{{ forloop.counter }}">
                <div class="card card-body">
                     <ul class="list-group">
                         {%for ans in q.fetch_answers%}
                            <li class="list-group-item"><strong>{{ans.answer}}</strong>
                                <a href="{%url 'add-upvote' ans.id%}" class="btn btn-sm btn-info">{{ans.up_vote.all.count}} &#10084;</a>

                                <h6 style="font-size: small;font-weight: lighter;" class="post-meta">
                                    Posted by
                                    <a>{{ans.user}}</a>
                                    on {{ans.created_date}}
                                </h6>
                            </li>
                         {%endfor%}
                     </ul>
                </div>
              </div>
        </div>
    </div>
    
    <!-- Divider-->
    <hr class="my-4" />

    <!-- Post preview-->
</div>
{%endfor%}


{%endblock%}
